{% macro displayFormField(field) %}
    <div class="row my-3">
        {{ field.label(class="col-lg-2 col-form-label") }}
        {% if field.errors %}
            <div class="col-lg-10">
                {{ field(class="form-control form-control-lg is-invalid") }}
            </div>
            <div class="invalid-feedback">
                {% for error in field.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            <div class="col-lg-10">
                {{ field(class="form-control") }}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro displayFileFormField(field) %}
    <div class="row my-3">
        {{ field.label(class="col-lg-2 col-form-label") }}
        {% if field.errors %}
            <div class="col-lg-10">
                {{ field(class="form-control-file is-invalid") }}
            </div>
            <div class="invalid-feedback">
                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            <div class="col-lg-10">
                {{ field(class="form-control-file") }}
            </div>
        {% endif %}
    </div>
{% endmacro %}