{% extends "layout.html" %}
{% block content %}
    <!-- TODO: make home.html prettier , and post.html , and user_posts.html-->
    <div class="card d-flex flex-row justify-content-start w-75 my-3">
        <img class="rounded-circle article-img mx-2 my-2" src="https://picsum.photos/75"><hr>
        <div class="">
            <div class="d-flex flex-row">
                <a class="mr-2" href="{{url_for('user_posts',username=post.author.username)}}">{{ post.author.username}}</a>
                <small class="ps-2 text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                {% if post.author == current_user %}
                <div>
                    <a class="btn btn-secondary btn-sm m-1" href="{{url_for('update_post',post_id=post.id)}}">Update</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal"
                        data-bs-target="#deleteModal">Delete</button>
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <form action="{{url_for('delete_post',post_id=post.id)}}" method="POST">
                                        <input class="btn btn-danger" type="submit" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <h2><a href="{{ url_for('post',post_id=post.id) }}">{{ post.title }}</a></h2>
            <p >{{ post.content }}</p>
        </div>
    </div>
{% endblock content %}